#testing {
    background-color: black;
    color: white;
}

#calContainer {
    border: 1px solid black;
    width: 75%;
    height: 500px;
}

#calAnswer {
    border: 1px solid black;
    width: 100%;
    height:100px;
}

#buttonNum {
    border: 1px solid black;
    width: 25%;
    height:25px;
}
#buttonClear {
    border: 1px solid black;
    width: 25%;
    height:25px;
}